.jumbotron {
	background-image: url("http://hdqwalls.com/wallpapers/avengers-infinity-war-2018-poster-4k-rq.jpg");
   
    background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 0px;
	text-align: center;

}

.jumbotron h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 900;
	color:blue;
}

.jumbotron p {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color:white
}